html, body, input, button {
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}

/* for mobile device */
@media only screen and (max-width: 768px) {
    html, body, input, button {
        font-size: 20px;
    }
    .mobile-btn {
        width: 100%;
        min-height: 40px;
    }
    .tab-text {
        text-align: center;
    }
    h4 {
        font-size: 20px;
        margin: 0;
    }
    div, span {
        font-size: 16px !important;
    }
    .message-form {
        padding-right: 15px !important;
    }
    .emoji-picker {
        padding-left: 15px !important;
    }
}

.help-block {
    font-size: small !important;
}

table.glyphicon-hover .glyphicon {
    visibility: hidden;
}
table.glyphicon-hover td:hover .glyphicon {
    visibility: visible;
}

.weather-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.weather-item {
    padding: 0.25em;
    border-bottom: solid 1px #eee;
}

.weather-item:hover {
    background: #f7f7f7;
    cursor: pointer;
}

.cursor {
    cursor: pointer;
}

.center-page {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    max-width: 1000px;
    padding: 40px;
}

/* Spinner */
.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}