@import 'variables';
@import 'custom-bootstrap';

html, body, input, button {
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}

.brand-logo {
  padding: 10px 30px 10px 10px !important;
  margin-top: 4px;
  cursor: pointer;
}

.btn-social {
  background-image: none !important;
  color: #fff !important;
  width: 40px !important;
  height: 40px !important;
  min-width: 40px !important;
  min-height: 40px !important;
  border-radius: 50% !important;
}

.btn-circle-icon {
  display: table-cell;
  vertical-align: middle;
  width: 32px !important;
  min-width: 32px !important;
  height: 32px !important;
  text-align: center !important;
  padding: 6px 0 !important;
  font-size: 12px !important;
  line-height: 1.428571429 !important;
  border-radius: 16px !important;
}

.unread-message {
  background-color: #EFEEEE;
}

.create-conv-header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
}

.create-conv-header > .search {
  grid-column: span 6;
}

.create-conv-header > .buttons {
  grid-column: span 6;
}

::-webkit-scrollbar-track {
  background: pink;
}

.center-vertical-horizontal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

/*
for Mobile device
*/
@media only screen and (max-width: 768px) {
  html, body, input, button {
    font-size: 20px;
  }
  h4 {
    font-size: 20px;
    margin: 0;
  }
  div, span {
    font-size: 16px !important;
  }
  .navbar-collapse.in {
    overflow-y: unset !important;
  }
  .mobile-hidden {
    display: none !important;
  }
  .desktop-hidden {
    display: block !important;
  }
  .alerts-container {
    width: 96% !important;
    max-width: 400px !important;
  }
  .alert-close-btn {
    top: 0 !important;
    text-align: right !important;
  }
  .main-content {
    margin-top: 70px !important;
  }
  .btn-group {
    width: 100%;
    min-height: 40px;
  }
  .btn {
    min-width: 120px !important;
    height: 40px !important;
  }
  .btn-circle-icon {
    min-width: 40px !important;
    height: 40px !important;
    border-radius: 20px !important;
  }
  .btn-social {
    width: 50px !important;
    height: 50px !important;
    min-width: 50px !important;
    min-height: 50px !important;
    border-radius: 50% !important;
  }
  .mobile-btn {
    width: 100%;
    min-height: 40px;
  }
  .account-dropdown {
    padding-top: 8px !important;
    border: 1px groove lightgrey;
  }
  .tab-text {
    text-align: center;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  .menu-right {
    padding-right: 0 !important;
  }
  .lang-text {
    width: 50% !important;
    float: left;
    text-align: center;
    font-size: 13px;
    height: 50px;
  }
  .lang-text > a {
    height: 20px !important;
    padding: 0 !important;
  }
  .theme-menu {
    width: 100% !important;
    padding-left: 0 !important;
    text-align: center;
  }
  li.theme-menu > a {
    padding: 0 !important;
  }
  li.theme-menu > a > div > ul > li > a {
    width: 100vw !important;
    text-align: center !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  #theme-menu {
    height: 50px !important;
    width: 100vw !important;
    border: none !important;
  }
  #theme-menu:before {
    content: none !important;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    padding-top: 15px !important;
  }
  .create-conv-header > .search {
    grid-column: span 12;
  }
  .create-conv-header > .buttons {
    grid-row: 1;
    grid-column: span 12;
  }
  .dropdown-menu {
    padding: 0 !important;
  }
  .dropdown-item {
    margin: auto;
    text-align: center;
    font-size: 14px;
    border-top: 1px groove lightgrey;
  }
  .dropdown-item > a {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .cut-senders-text {
    width: 200px !important;
  }
  .message-form {
    padding-right: 15px !important;
  }
  .emoji-picker {
    padding-left: 15px !important;
  }
  .profile-modal .add-people-modal > .modal-dialog {
    max-width: 90vw !important;
  }
  .profile-modal-picture {
    max-width: 80vw !important;
  }
}


/*
for Desktop
*/
.mobile-hidden {
  display: block;
}
.desktop-hidden {
  display: none;
}
.alerts-container {
  position: fixed;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 800px;
  z-index: 999;
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}
.alert-close-btn {
  position: absolute;
  text-align: right;
  top: 10px;
  right: 10px;
}
.main-content {
  margin-top: 75px;
}
.tab-text {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.lang-text {
  width: 30px;
  padding-top: 5px !important;
  font-size: 13px;
}
li.lang-text a {
  border: none !important;
  background: transparent !important;
}

.menu-right {
  padding-right: 80px;
}

.new-messages-bg {
  background-color: #edf0f5
}

.user-from-text {
  padding-top: 2px;
  padding-right: 0 !important;
  text-align: right;
}

.profile-picture-wrapper {
  float: left;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.profile-picture {
  max-height: 50px;
  max-width: 50px;
}

.add-people-modal > .modal-body {
  min-height: 400px;
}

.profile-modal > .modal-dialog {
  margin-top: 50px;
  max-height: 500px;
  max-width: 500px;
}

.profile-modal-picture {
  max-height: 450px;
  max-width: 450px;
}

.account-dropdown {
  padding-top: 10px;
}

.account-menu {
  max-height: 40px;
  max-width: 40px;
  font-size: 13px;
  cursor: pointer;
  box-shadow: 0 0 2pt 2pt lightgrey;
}

.account-menu-clicked {
  box-shadow: 0 0 2pt 2pt grey !important;
}

.dropdown-menu {
  padding: 0;
}

.dropdown-menu>.active>a {
  color: #555;
  text-decoration: none;
  background-color: #e7e7e7;
  outline: 0;
}

.dropdown-menu>.active>a:hover {
  color: #555;
  text-decoration: none;
  background-color: #e7e7e7;
  outline: 0;
}

.cut-senders-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 300px;
  height: 1.4em;
  white-space: nowrap
}

.message-preview {
  color: grey;
  font-size: 13px;
  padding-top: 5px;
}

.inner-addon {
  position: relative;
  color: grey;
}
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.left-addon .glyphicon  {
  left:  0;
}
.right-addon .glyphicon {
  right: 0;
}
.left-addon input  {
  padding-left:  30px;
}
.right-addon input {
  padding-right: 30px;
}


.help-block {
  font-size: small !important;
}

table.glyphicon-hover .glyphicon {
  visibility: hidden;
}
table.glyphicon-hover td:hover .glyphicon {
  visibility: visible;
}


.cursor {
  cursor: pointer;
}

.center-page {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  max-width: 1000px;
  padding: 40px;
}

.theme-menu {
  padding-left: 20px;
}

li.theme-menu > a {
  width: 0;
  border: none !important;
  background: transparent !important;
}

li.theme-menu > a:hover {
  background: transparent !important;
}

li.theme-menu > a > div > ul {
  left: 0 !important;
}

#theme-menu {
  height: 27px;
  padding: 0;
  position: relative;
  border-radius: 0;
}

#theme-menu:before {
  content: '\F1FC';
  font-family: 'FontAwesome';
  padding-top: 2px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
}


/* Switch checkbox */
.material-switch > input[type="checkbox"] {
  display: none;
}
.material-switch > label {
  cursor: pointer;
  height: 0;
  position: relative;
  width: 40px;
}
.material-switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px; /*border-radius: 8px;*/
  content: '';
  height: 16px; /*height: 16px;*/
  margin-top: -8px;
  position: absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}
.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px; /*border-radius: 16px;*/
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px; /*height: 24px;*/
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px;
}


/* Spinner */
.spin-icon {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
