:root {
    --main-color: #00b386;
}

html, body, input, button {
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}

.btn-primary {
    background-color: var(--main-color) !important;
    border-color: #008060 !important;
}

.has-success .control-label,
.has-success .help-block,
.has-success .form-control .form-control-feedback {
    color: var(--main-color) !important;
    border-color: #008060 !important;
}

.btn {
    min-width: 100px !important;
    border-radius: 0 !important;
}

/* for mobile device */
@media only screen and (max-width: 768px) {
    html, body, input, button {
        font-size: 20px;
    }
    .btn-group {
        width: 100%;
        min-height: 40px;
    }
    .mobile-btn {
        width: 100%;
        min-height: 40px;
    }
    .tab-text {
        text-align: center;
    }
    .dropdown-menu {
        padding-top: 40px !important;
        padding-bottom: 0 !important;
    }
    .dropdown-item {
        padding-top: 10px;
        text-align: center;
        font-size: 16px;
    }
    h4 {
        font-size: 20px;
        margin: 0;
    }
    div, span {
        font-size: 16px !important;
    }
    .message-form {
        padding-right: 15px !important;
    }
    .emoji-picker {
        padding-left: 15px !important;
    }
}

input, textarea, .well, .dropdown-menu, .emoji-mart {
    border-radius: 0 !important;
}

.dropdown-menu {
    padding: 0;
}
.dropdown-item {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #777;
}

.help-block {
    font-size: small !important;
}

table.glyphicon-hover .glyphicon {
    visibility: hidden;
}
table.glyphicon-hover td:hover .glyphicon {
    visibility: visible;
}

.dropdown-menu>.active>a {
    color: #555;
    text-decoration: none;
    background-color: #e7e7e7;
    outline: 0;
}

.dropdown-menu>.active>a:hover {
    color: #555;
    text-decoration: none;
    background-color: #e7e7e7;
    outline: 0;
}

.weather-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.weather-item {
    padding: 0.25em;
    border-bottom: solid 1px #eee;
}

.weather-item:hover {
    background: #f7f7f7;
    cursor: pointer;
}

.cursor {
    cursor: pointer;
}

.center-page {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    max-width: 1000px;
    padding: 40px;
}

/* Spinner */
.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}