{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "no-console": "off",
    "linebreak-style": "off", //["error", "windows"],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "import/no-named-as-default": "off",
    "padded-blocks": "off",
    "comma-dangle": ["error", "never"],
    "indent": [2, 4, {"SwitchCase": 1}]
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}