@import '../../../css/variables';

.cv-container {
  margin-top: -5px;
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: $secondary-color; //lightgrey;
}
.paper {
  padding-top: 15px;
  background-color: white;
  box-shadow: 2px 2px 2pt black;
}

.cv-btn {
  border-radius: 0;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.flex-container > div {
  margin: 0 15px 10px 0;
}
div.flex-container div:last-child {
  margin-right: 0;
}
.flex-left-column, .flex-right-column {
  width: 150px;
  min-width: 150px;
}
.flex-middle-column {
  width: 100%;
}

.section-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
}
.section-title-icon {
  position: absolute;
  left: 10px;
}
.section-content {
  padding-top: 10px
}

/* BASIC INFO */
.user-picture {
  width: inherit;
}
.cv-about-me {
  font-size: 1.1em;
}

/* CONTACTS */
.contact-item {
  padding: 5px !important;
}
.contact-item-clickable {
  color: $primary-color;
}
.contact-item-icon {
  width: 20px;
  text-align: center;
}

/* SKILLS */
.skills-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-auto-rows: 80px;
  grid-gap: 5px;
}
.skill-item {
  height: 80px;
  width: 60px;
}
.skill-title {
  height: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.skill-image {
  padding: 2px;
  height: 60px;
  width: 60px;
}

/* EXPERIENCE */
.timeline-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.timeline {
  border-right: thick solid $light-grey-color;
  border-right-style: dotted;
  text-align: right;
  padding-right: 5px;
  height: 100%;
  position: absolute;
  right: 0;
}
.duration-container {
  position: relative;
  height: 100%;
}
.duration {
  position: absolute;
  right: 0;
  padding-right: 5px;
  color: $light-grey-color;
  font-style: italic;
}
.duration-end {
  @extend .duration;
  top: -5px;
}
.duration-start {
  @extend .duration;
  bottom: -5px;
}
.tech-font {
  font-size: smaller;
  color: $secondary-color;
}
.stack-item {
  line-height: 1.5;
  padding: 3px;
  margin-right: 2px;
  margin-bottom: 2px;
  border-radius: 0;
}
.stack-item:hover, .stack-item:focus, .stack-item:active {
  cursor: default;
  background-color: $dark-color;
}


/*
for Mobile
*/
@media only screen and (max-width: 768px) {
  .cv-container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .flex-container {
    justify-content: center !important;
    flex-wrap: wrap !important;
  }
  .flex-left-column, .flex-middle-column {
    margin: 0 0 10px 0 !important;
    width: 100% !important;
  }
  .flex-right-column {
    display: none;
  }
  .tooltip {
    display: none;
  }
  .mobile-text {
    font-size: 120% !important;
  }
  /* BASIC INFO */
  .cv-username {
    font-size: 1.5rem !important;
  }
  .cv-title {
    font-size: 1.2rem !important;
  }
  .cv-username, .cv-title {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
  }
  .user-picture {
    float: unset !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  /* SKILLS */
  .skills-container {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)) !important;
    grid-auto-rows: 100px !important;
  }
  .skill-item {
    height: 100px !important;
    width: 80px !important;
  }
  .skill-image {
    height: 80px !important;
    width: 80px !important;
  }
}

/*
for Desktop
*/
